* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #444;
  /* line-height: 1.4; */
  border-top: 10px solid #1098ad;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.product-img {
  float: left;
  margin-right: 40px;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  /* font-style: italic; */
  color: #1098ad;
}

h1 {
  float: left;
  font-family: sans-serif;
}

nav {
  float: right;
}

/* .clear {
  clear: both;
} */

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.main-header  a:link {
  color: #1098ad;
  text-decoration: none;
}

.main-header a:visited {
  color: #1098ad;
}

.main-header  a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

.main-header a:active {
  background-color: black;
  font-style: italic;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  /* height: 80px; */
}

nav {
  font-size: 18px;
}

nav a:link {
  margin-top: 10px;
  margin-right: 30px;
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0;
}

.container {
  /* width: 1200px; */
  /* margin: 0 auto; */
  /* background-color: red; */
}

.product {
  border: 4px solid black;
  position: relative;
  width: 825px;
  margin: 50px auto;
}

.product-title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #f7f7f7;
  padding: 15px;
}

.product-info {
  width: 243px;
  float: left;
  margin-right: 40px;
  margin-top: 20px;
}

.price {
  font-size: 24px;
  float: left;
}

.shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
  margin-bottom: 20px;
  float: right;
  margin-top: 8px;
}

.sale {
  background-color: #ec2f2f;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 7px 15px;
  display: inline-block;
  position: absolute;
  top: -17px;
  left: -38px;
}

.product-description {
  clear: both;
  margin-bottom: 10px;
}

.more-info:link,
.more-info:visited {
  color: black;
  margin-bottom: 30px;
  display: inline-block;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.color {
  background-color: #000;
  width: 22px;
  height: 22px;
  display: inline-block;
  margin-right: 10px;
}

.color-blue {
  background-color: #2f6ee2;
}

.color-red {
  background-color: #ec3f3f;
}

.color-yellow {
  background-color: #f0bf1e;
}

.color-green {
  background-color: #90cc20;
}

.color-brown {
  background-color: #885214;
}

/* PRODUCT DETAILS */
.product-details {
  width: 243px;
  float: left;
  margin-top: 20px;
}

.details-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
}

.details-list {
  list-style: square;
  margin-left: 20px;
}

.details-list li {
  margin-bottom: 10px;
}

/* BUTTON */
.add-cart {
  background-color: #000;
  border: none;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border-top: 4px solid black;
}

.add-cart:hover {
  background-color: #fff;
  color: #000;
}

footer {
  height: 1000px;
}